<section data-ng-controller="HomeController">
  <div class="jumbotron text-center">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12  text-center">
        <h1>accenture</h1>
        <!-- <img alt="Accenture" class="img-responsive text-center" src="modules/core/img/brand/logo-accenture.png" /> -->
      </div>
    </div>
    <div class="row">
      <p class="lead">
        High performance. Delivered.
      </p>
    </div>
    <div class="row">
      <p>
        <a ng-if="!authentication.user" class="btn btn-primary btn-lg" href="/authentication/signin" >Sign In</a>
      </p>
    </div>
  </div>
  <div class="text-center">
    <h2>Insights</h2>
  </div>
  <div class="list-group">
    <a data-ng-repeat="item in items" href="{{item.link}}" target="_blank" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="item.pubDate | date:'mediumDate'"></span>
        <!-- by
        <span data-ng-bind="item.user.displayName"></span> -->
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="item.title"></h4>
      <p class="list-group-item-text" data-ng-bind-html="item.description"></p>
    </a>
  </div>
  <!-- <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination> -->
  <br>Enjoy &amp; Keep Us Updated,
  <br>The Accenture Team.
</section>
<script type="text/javascript">
'use strict';

// Items controller
angular.module('core').controller('HomeController', ['$scope', '$stateParams', '$location', 'Authentication', 'Items','$filter',
  function ($scope, $stateParams, $location, Authentication, Items, $filter) {
    $scope.authentication = Authentication;

    // Find a list of Items
    $scope.find = function () {
      $scope.items = Items.query();
    };

    // Find existing Article
    $scope.findOne = function () {
      $scope.item = Items.get({
        itemId: $stateParams.itemId
      });
    };
    $scope.buildPager = function () {
      $scope.pagedItems = [];
      $scope.itemsPerPage = 15;
      $scope.currentPage = 1;
      $scope.figureOutItemsToDisplay();
    };

    $scope.figureOutItemsToDisplay = function () {
      $scope.filteredItems = $filter('filter')($scope.users, {
        $: $scope.search
      });
      $scope.filterLength = $scope.filteredItems.length;
      var begin = (($scope.currentPage - 1) * $scope.itemsPerPage);
      var end = begin + $scope.itemsPerPage;
      $scope.pagedItems = $scope.filteredItems.slice(begin, end);
    };

    $scope.pageChanged = function () {
      $scope.figureOutItemsToDisplay();
    };

  }
]);

</script>