<section data-ng-controller="ArticlesController" data-ng-init="find()">
  <div class="page-header">
    <h1>News</h1>
  </div>
  <!-- <div class="list-group">
    <a data-ng-repeat="article in articles" data-ui-sref="articles.view({articleId: article._id})" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="article.pubDate | date:'mediumDate'"></span>
        by
        <span data-ng-bind="article.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="article.title"></h4>
      <p class="list-group-item-text" data-ng-bind="article.description"></p>
    </a>
  </div> -->
  <table class="table table-striped">
    <thead>
      <th>Title</th>
      <th>Category</th>
      <th>Published</th>
      <th>Actions</th>
    </thead>
    <tbody>
      <tr data-ng-repeat="article in articles">
        <td width="70%">
          {{article.title}}
        </td>
        <td>{{article.category}}</td>
        <td>{{formatDate(article.pubDate) | date:'d/MM/yyyy'}}</td>
        <td>
          <a href="{{article.link}}" target="_blank">View</a>
          <a class="" data-ui-sref="articles.edit({articleId: article._id})">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
          <a class="" onclick="return confirm('Are you sure you want to delete this item?')" data-ng-click="remove(article);">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
    No articles yet
<!--    , why don't you <a data-ui-sref="articles.create">create one</a>?-->
  </div>
</section>
