<section data-ng-controller="ItemsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="item.title"></h1>
  </div>
  <div class="pull-right" data-ng-show="authentication.user._id == item.user._id">
    <a class="btn btn-primary" data-ui-sref="items.edit({itemId: item._id})">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="remove();">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div  data-ng-if="item.image"><img  ng-src="{{item.image}}" class="img-responsive"></div>
  <!--<small>
    <em class="text-muted">
      Posted on
      <pre ng-bind-html-unsafe="text | escapeHtml | linky"></pre>
      <pre data-ng-bind-html-unsafe="item.pubDate | date:'mediumDate'"></pre>
      < by
      <span data-ng-bind="item.user.displayName"></span> 
    </em>
  </small> -->
  <!-- <p class="lead" data-ng-bind="item.content"></p> -->
  <br/>
  <p class="lead" data-ng-bind-html="item.description"></p>

    <h3>History</h3>
  <div>

  <!--<ul ng-controller="ItemsController"> </ul> -->
    <p ng-repeat="x in history">
        <b>{{x.user}}</b>
        visited at:   
        {{x.time | date:'dd-MM-yyyy   h:mm:ss '}}
    </p>
    




<!--
  <tr>   {{history[1].user}} </tr> 
  <span>Visted At: {{history[1].time | date:'dd-MM-yyyy   h:mm:ss '}}</span> -->
  
  
    
  </div>
  
  
  
</section>

